/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body{
    font-family: 'TT Norms';
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.content{
  flex: 1 1 auto;
}
/* Header start */
.header{
    background: url(../img/phone.png)81% 70% no-repeat,url(../img/Ellipse\ 6.svg)0 0/auto no-repeat,url(../img/Group\ 62.svg) right/ 584px 900px no-repeat;
    height: 900px;
}
.header__row{
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 27px;
    display: flex;
    flex-direction: column;
}
.nav__row{
    display: flex;
    align-items: center;
}
.nav__menu{
    display: flex;
}
.nav__logo{
    padding-right: 129px;
}
.logo{
    display: flex;
    text-align: center;
    max-width: 168px;
    justify-content: space-between;
}
.nav__link{
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 12px;  
    color: #3B4844;
    margin-right: 15px;
    padding: 10px;
    transition: all 0.1s ease;
}
.nav__link:hover,
.nav__link:active,
.nav__link:focus{
    background: #5D58B7;
    border-radius: 3px;
    color: #fff;
    
}
.nav__user{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #46438D;
    width: 182px;
    height: 47px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 12px;
    color: #FFFFFF;
}
.nav__user img{
    margin-right: 11px;
}
.nav__language{
    margin-right: 75px;
    margin-left: 30px;
}
details summary::-webkit-details-marker {
    display: none;
}
summary{
    display: flex;
}
.intro{
    padding-top: 180px;
}
.intro__title{
    font-weight: 500;
    font-size: 52px;
    line-height: 65px;
    text-transform: uppercase;
    color: #282735;
    padding-top: 40px;
}
.intro_md{
    display: none;
}
.violet{
  color: #6D69C9;
}
.text{
    font-size: 20px;
    line-height: 25px;
    color: #737373; 
}
.btn{
    width: 275px;
    height: 61px;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    transition: .5s;
}
.btn p{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF
}
.purple:focus,
.purple:active,
.purple:hover{
    background: #3F3B98;
}
.btn__conn{
    width: 182px;
    height: 47px;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    background: #46438D;
}
.yellow{
    background-color: #FFB83A;
}
.yellow:focus,
.yellow:active,
.yellow:hover{
    background: #EC9E15;
}
.purple{
    background: #6D69C9;
}
.buttons{
    display: flex;
    padding-top: 48px;
}
.btn img{
    padding-right: 10px;
}
.btn__conn img{
    padding-right: 10px;
}
.btn_mb{
    display: none;
}
/* About start */
.about{
    background: url(../img/Ellipse\ 7.svg)0 30% no-repeat, #E5E5E5;
    height: 966px;
    padding-top: 58px;
}
.about__row{
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.about__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #5D58B7;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
}
.about__text{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
    color: #282735;
    text-align: center;
    padding-bottom: 30px;
}
.about__text_mb{
    display: none;
}
.about__items_mb{
    display: none;
}
.outline{
    background: #FFE2AF;
    border-radius: 5px;
    width: auto;
    display: inline;
}
.about__elements{
    display: flex;
}
.about__img{
    width: 50%;
    padding-left: 10px;
}
.about__items{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 95px;
}
.about__item{
    display: flex;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}
.about__item:focus,
.about__item:active,
.about__item:hover{
    /* background: #E5E5E5;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px; */
    margin-left: 20px;
}
.item__info{
    display: flex;
    flex-direction: column;
}
.item__img{
    border-radius: 10px;
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.item__img img{
    height: 23px;
    width: 23px;
}
.swelled_purple{
    background: #EDEAFF;
}
.light_yellow{
    background: #FFF2DC;
}
.item__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #282735;
    margin-bottom: 10px;
}
.item__text{
    font-size: 16px;
    line-height: 19px;
    color: #737373;
}
.text__md{
    width: 353px;
}
/* About end */
/* figures start */
.figures{
    height: 252px;
    background: url(..//img/Fon.svg)0 0 no-repeat;
}
.figures__row{
    max-width: 1000px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;  
}
.figures__item{
    padding-top: 80px;
} 
.figures__number{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-top: 18px;
}
.figures__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.figures__text_mb{
    display: none;
}
/* figures end */
/* route start */
.route{
    height: 739px;
    background:url(..//img/Group\ 55.svg)right no-repeat, #E5E5E5;
}
.route__row{
    display: flex;
    max-width: 1183px;
    margin: 0 auto;
}
.route__item{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 93px;
}
.route__title{
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    text-transform: uppercase;
    color: #282735;
    margin-bottom: 50px;
}
.route__text_mb{
    display: none;
}
.route__items{
    width: 50%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.column{
    text-align: center;
    width: 50%;
}
.column__img{
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.column__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #282735;
    margin-bottom: 20px;
}
.column__title_mb{
    display: none;
}
.column__text{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #737373;
    margin: 0 auto;
}
.column__text_mb{
    display: none;
}
.textw450{
    max-width: 450px;
}
.textw222{
    max-width: 222px;
}
.textw259{
    max-width: 259px;
}
.textw247{
    max-width: 247px;
}
.textw272{
    max-width: 272px;
}
/* route end */

/* artifact start */
.artifact{
    height: 733px;
    background: #FFFFFF;
}
.artifact__row{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1130px;
    margin: 0 auto;
    align-items: center;
}
.artifact__title{
    font-size: 48px;
    line-height: 57px;
    color: #282735;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 20px;
}
.text975{
    max-width: 975px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.artifact__items{
    display: flex;
    margin: 0 auto;
    margin-bottom: 72px;
}
.artifact__item{
    display: flex;
    margin-right: 80px;
}
.artifact__item img{
    align-self: flex-start;
    margin-right: 15px;
}
.artifact__text{
    font-size: 16px;
    line-height: 19px;
    color: #737373;
    text-align:left;
}
.artifact__text1_mb{
    display: none;
}
.textw161{
    width: 161px;
}
.textw280{
    width: 280px;
}
.textw390{
    width: 390px;
}
.textw560{
    max-width: 560px;
}
/* artifact end */

/* footer start */
.footer{
    height: 124px;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
}
.footer__row{
    /* max-width: 1185px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__btn{
    display: flex;
}
.footer__menu{
    display: none;
}
.btn__purpule{
    background: #5D58B7;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 0px 22px 44px -12px rgba(249, 107, 92, 0.5);
    border-radius: 5px;
    transition: .3s;
    align-items: center;
}
.btn__purpule img{
    height: 12px;
    width: 12px;
}
.btn__purpule:hover,
.btn__purpule:active,
.btn__purpule:focus{
    background: #3F3B98;
}
.btn_yellow{
    display: flex;
    height: 47px;
    width: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;  
    background: #FFB83A;
    color: #FFFFFF;
}
.btn_yellow img{
    margin-right: 9px;
}
.footer__logo{
    margin-right: 44px;
}
/*  */

@media (max-width: 1850px) {

.header{
    background: url(../img/phone.png)81% 85% no-repeat,url(../img/Ellipse\ 6.svg)0 0/auto no-repeat,url(../img/Group\ 62.svg) 101% 100%/ 584px 900px no-repeat;
}

}
@media (max-width: 1750px) {
    
}
@media (max-width: 1650px) {
    .header{
        background: url(../img/phone.png)76% 85% no-repeat,url(../img/Ellipse\ 6.svg)0 0/auto no-repeat,url(../img/Group\ 62.svg) 101% 100%/ 584px 900px no-repeat;
    }
    .nav__logo{
        padding-right: 70px;
    }
}
@media (max-width: 1550px) {
    .header{
        background: url(../img/phone.png)84% 85% no-repeat,url(../img/Ellipse\ 6.svg)0 0/auto no-repeat,url(../img/Group\ 62.svg) 110% 100%/ 584px 900px no-repeat;
    }
}
@media (max-width: 1350px) {
    .header{
        
        background: url(../img/phone.png)85% 85% no-repeat,url(../img/Ellipse\ 6.svg)0 0/auto no-repeat,url(../img/Group\ 62.svg) 120% 100%/ 584px 900px no-repeat;
    }
}
@media (max-width: 1250px) {
    .header{
        height: 1255px;
        background: url(../img/Group\ 570.svg)85% 20% no-repeat,url(../img/Ellipse\ 6.svg)0 0/auto no-repeat,url(../img/Group\ 62.svg) 110% 0%/584px 713px no-repeat;
    }
  .header__row{
        padding-left:35px;
        padding-right: 25px;

  }
  .nav__user{
        display: none;
  }
   .nav__menu{
        display: none;
    }
    .nav__language{
        display: none;
    }
    .nav__row{
        justify-content: space-between;
    }
    .nav__btn{
        padding-right: 30px;
    }
    .intro{
        display: none;
    }
    .intro_md{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 717px;
        text-align: center;
    }
    .intro__short__text{
        display: none;
    }
    .intro__title_md{
        font-weight: 500;
        font-size: 52px;
        line-height: 65px;
        text-align: center;
        text-transform: uppercase;
    }
    .btn_mb{
        display: flex;
        align-items: center; 
    }
}
@media (max-width: 1150px) {
    .header{
        background: url(../img/Group\ 570.svg)85% 20% no-repeat,url(../img/Ellipse\ 6.svg)-15% 0/auto no-repeat,url(../img/Group\ 62.svg) 120% 0%/584px 713px no-repeat;
    }
    .about{
        height: 1328px;
        padding-top: 49px;
        background: url(../img/Ellipse\ 7.svg)-30% 25%/50% no-repeat, #E5E5E5;
    }
    .about__elements{
        flex-wrap: wrap;
    }
    .about__img{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .about__img img{
        height: 464px;
    }
    .about__items_mb{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
         padding-top: 70px;
    }
    .about__item{
        margin-bottom: 15px;
    }
    .about__text_mb{
        display: block;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 38px;
        line-height: 45px;
        color: #282735;
        text-align: center;
        padding-bottom: 30px;
    }
    .about__text{
        display: none;
    }
    .about__title{
        padding-bottom: 5px;
    }
    .about__items{
        display: none;
    }
    .figures{
        height: 443px;
        background: url(..//img/Fon.svg)40%/auto 100% no-repeat;
    }
    .figures__row{
        flex-wrap: wrap;
        max-width: 800px;
    }
    .figures__text_mb{
        display: block;
    }
    .figures__text1{
        display: none;
    }
    .figures__item{
        width: 50%;
        padding-top: 70px;
    }
    .route{
        height: 1242px;
        background:url(..//img/Group\ 55.svg)150% 5% no-repeat, #E5E5E5;
    }
    .route__row{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin:0 100px;
    }
    .route__item{
        width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 60px;
    }
    .route__items{
        width: 100%;
       
    }
    .column__title{
        display: none;  
    }
    .column__title_mb{
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #282735;
        margin-bottom: 20px;
    }
    .column__text{
    display: none;
    }
    .column__text_mb{
        display: block;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #737373;
        margin: 0 auto;
    }
    .route__text{
        display: none;
    }
    .route__text_mb{
        display: block;
        max-width: 502px;
    }
    
    .artifact__text1{
        display: none;
    }
    .artifact__items{
        display: none;
    }
    .artifact__text1_mb{
        display: block;
        max-width: 666px;
        text-align: center;
        margin-bottom: 40px;
    }
    .footer{
        background-color: #fff;
        height: 334px;
    }
    .footer__row{
        flex-wrap: wrap;
        max-width: 725px;
        justify-content: space-between;
    }
    .footer__menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-bottom: 50px;
    }
    .footer__link{
        font-weight: 500;
        font-size: 15px;
        line-height: 35px;
        color: #3B4844;
    }
    .btn__purpule{
        background: #5D58B7;
        box-shadow: 0px 22px 44px -12px rgba(249, 107, 92, 0.5);
    }
    .nav__btn{
        display: none;
    }
}
@media (max-width: 950px) {
    .header{
        background: url(../img/Group\ 570.svg)75% 20% no-repeat,url(../img/Ellipse\ 6.svg)-25% 100%/auto no-repeat,url(../img/Group\ 62.svg) 120% 0%/584px 713px  no-repeat;
    }
    .figures__row{
        max-width: 410px;
    }
    .figures__item{
      padding-top: 60px;
    } 
    .about{
        background: url(../img/Ellipse\ 7.svg)-30% 20%/60% no-repeat, #E5E5E5;
    }
}
@media (max-width: 850px) {
    .header{
        background: url(../img/Group\ 570.svg)55% 20% no-repeat,url(../img/Ellipse\ 6.svg)-30% 100%/auto no-repeat,url(../img/Group\ 62.svg) 130% 0%/584px 713px  no-repeat;
    }
}
@media (max-width: 800px) {
    .header{
        background: url(../img/Group\ 570.svg)45% 20% no-repeat,url(../img/Ellipse\ 6.svg)-35% 100%/auto no-repeat,url(../img/Group\ 62.svg) 140% 0%/584px 713px no-repeat;
    }
}
@media (max-width: 750px) {
    .header{
        background: url(../img/Group\ 570.svg)45% 20%/90% no-repeat,url(../img/Ellipse\ 6.svg)-35% 100%/auto no-repeat,url(../img/Group\ 62.svg) 200% 0%/584px 713px no-repeat;
    }
}
@media (max-width: 700px) {
    .header{
        background: url(../img/Group\ 570.svg)45% 20%/90% no-repeat,url(../img/Ellipse\ 6.svg)-40% 100%/auto no-repeat,url(../img/Group\ 62.svg)  300% 0%/584px 713px no-repeat;
    }
    .route__title{
        font-size: 40px;
        line-height: 50px;
    }
    .route__row{
        margin: 0 50px;
    }
    .artifact__text1_mb{
        margin: 0 20px;
    }
}
@media (max-width: 650px) {
    .header{
        background: url(../img/Group\ 570.svg)40% 15%/90% no-repeat,url(../img/Ellipse\ 6.svg)-50% 110%/auto no-repeat,url(../img/Group\ 62.svg)150% 0%/70% no-repeat;
    }
    .intro_md{
        padding-top: 650px;
    }
    .header{
        height: 1150px;
    }
    .intro__title_md{
        font-size: 40px;
        line-height: 50px;
    }
    .intro__short__text{
        display: block;
        margin-top: 20px;
    }
    .intro__long__text{
        display: none;
        
    }
}
@media (max-width: 600px) {
    .header{
        background: url(../img/Group\ 570.svg)40% 15%/90% no-repeat,url(../img/Ellipse\ 6.svg)-50% 100%/auto no-repeat,url(../img/Group\ 62.svg)140% 0%/65% no-repeat;
    }
     .about{
        background: url(../img/Ellipse\ 7.svg)-30% 25%/70% no-repeat, #E5E5E5;
    }
    .intro_md{
        padding-top: 600px;
    }
    .header{
        height: 1100px;
    }
    .buttons{
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .btn{
        margin: 5px 0px;
        width: 100%;
    }
    .about{
        height: 1250px;
    }
    .column{
        width: 100%;
    }
    .route__row{
        padding-top: 70px;
    }
    .route__items{
        margin: 0;
    }
    .route{
        height: 1900px;
    }
    .footer{
        height: 400px;
    }
    .footer__row{
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 550px) {
    .header{
        background: url(../img/Group\ 570.svg)40% 15%/90% no-repeat,url(../img/Ellipse\ 6.svg)-70% 100%/auto no-repeat,url(../img/Group\ 62.svg)140% 0%/65% no-repeat;
    }
    .nav__logo{
        padding-right: 60px;
    }
    .intro_md{
        padding-top: 500px;
    }
    .header{
        height: 1000px;
    }
    .about{
        background: url(../img/Ellipse\ 7.svg)-30% 25%/70% no-repeat, #E5E5E5;
    }
    .about__img{
        padding: 0;
        margin: 0;
    }
    .about__img img{
        width: 70%;
        height: auto;
    }
    .artifact__title{
        font-size: 40px;
        line-height: 50px;
    }
    .artifact__text1_mb{
        font-size: 17px;
        margin-bottom: 20px;
    }
}
@media (max-width: 500px) {
    .header{
        background: url(../img/Group\ 570.svg)40% 15%/90% no-repeat,url(../img/Ellipse\ 6.svg)-100% 100%/auto no-repeat,url(../img/Group\ 62.svg)140% 0%/65% no-repeat;
    }
    .about{
        background: url(../img/Ellipse\ 7.svg)-30% 18%/70% no-repeat, #E5E5E5;
    }
    .route{
        background: #E5E5E5;
    }
    .connection{
        display: none;
    }
    .about{
        height: 1550px;
    }
    .intro__title_md{
        font-size: 35px;
        line-height: 40px;
    }
    .about__item{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .item__img{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .about__items_mb{
        padding-top: 20px;
    }
    .route__title{
        font-size: 30px;
        line-height: 40px;
    }
    .route__text_mb{
        font-size: 17px;
        line-height: 20px;
    }
}
@media (max-width: 450px) {
    .header{
        background: url(../img/Group\ 570.svg)40% 15%/90% no-repeat,url(../img/Ellipse\ 6.svg)-150% 150%/auto no-repeat,url(../img/Group\ 62.svg)140% 0%/65% no-repeat;
    }
    .about{
        background: url(../img/Ellipse\ 7.svg)-30% 15%/80% no-repeat, #E5E5E5;
        height: 1500px;
    }
    .intro__title_md{
        font-size: 30px;
        line-height: 30px;
    }
    .intro_md{
        padding-top: 400px;
    }
    .header{
        height: 800px;
    }
    .about__text_mb{
        font-size: 30px;
        line-height: 40px;
    }
    .artifact__title{
        font-size: 35px;
        line-height: 40px;
    }
    .artifact__text1_mb{
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .artifact__img img{
        width: 80%;
    }
    .artifact{
        height: 600px;
    }
}
@media (max-width: 400px) {
    .header{
        background: url(../img/Group\ 570.svg)100% 15%/90% no-repeat,url(../img/Ellipse\ 6.svg)-250% 120%/auto no-repeat,url(../img/Group\ 62.svg)160% 0%/65% no-repeat;
    }
    .about{
        background: url(../img/Ellipse\ 7.svg)-30% 14%/80% no-repeat, #E5E5E5;
        height: 1400px;
    }
    .logo img{
        width: 125px;
        height: 25px;
    }
    .header__row{
        padding: 10px 20px;
    }
    .intro_md{
        padding-top: 380px;
    }
    .intro__title_md{
        font-size: 25px;
        line-height: 30px;
    }
    .about__item{
        margin: 0 10px 10px 10px;
    }
    .item__title{
        font-size: 15px;
    }
    .item__text{
        font-size: 14px;
    }
    .text__md{
        max-width: 300px;
    }
    .figures{
        height: auto;
    }
    .figures__item{
        width: 100%;
        padding: 0 15px 67px;
    }
    .figures__row{
        padding-top: 75px;
    }
    .route__row{
        margin: 0 20px;
    }
    .artifact{
        height: 680px;
    }
}
@media (max-width: 350px) {
    .header{
        background: url(../img/Group\ 570.svg)100% 10%/90% no-repeat,url(../img/Group\ 62.svg)160% 0%/65% no-repeat;
    }
    .about{
        background: url(../img/Ellipse\ 7.svg)-30% 12%/80% no-repeat, #E5E5E5;
        height: 1350px;
    }
    .intro_md{
        padding-top: 350px;
    }
    .logo img{
        width: 125px;
        height: 25px;
    }
    .header__row{
        padding: 10px 20px;
    }
    .about__text_mb{
        font-size: 25px;
        line-height: 30px;
    }
    .route__title{
        font-size: 27px;
        margin-bottom: 30px;
    }
    
}
@media (max-width: 300px) {
    .route__text_mb{
        font-size: 15px;
    }
    .route__title{
        font-size: 22px;
        line-height: 30px;
    }
    .btn{
        font-size: 13px;
    }
    .btn img{
        padding-right: 5px;
    }
    .route__item{
        margin-top: 40px;
    }
    .about__row{
        margin: 0 10px;
    }
    .text__md{
        max-width: 250px;
    }
    .about{
        height: 1450px;
    }
    .intro_md{
        padding-top: 280px;
    }
    .intro__title_md{
        font-size: 20px;
    }
    .intro__short__text{
        font-size: 18px;
    }
    .header{
        height: 700px;
    }
    .nav__logo{
        padding-right: 0px;
        margin-right: 10px;
    }
    .about__text_mb{
        font-size: 22px;
    }
    .about__title{
        font-size: 15px;
    }
    .artifact{
        height: 750px;
    }
    .artifact__title{
        font-size:25px;
        line-height: 30px;
        margin-top: 30px;
    }
    .artifact__text1_mb{
        font-size: 15px;
    }
    .artifact{
        height: 630px;
    }

}
@media (max-width: 250px) {
    .route__title{
        font-size: 20px;
        line-height: 30px;
    }
    .btn{
        font-size: 11px;
    }
    .btn img{
        padding-right: 2px;
    }
    .intro__title_md{
        font-size: 18px;
        line-height: 25px;
    }
    .intro_md{
        padding-top: 230px;
    }
    .header{
        height: 650px;
    }
    .about__text_mb{
        font-size: 20px;
    }
    .artifact{
        height: 650px;
    }
}